gunicorn
lxml
matplotlib
nltk==3.8.1
numpy
pandas
pyparsing
python-dateutil
pytz
redis==4.5.4
regex
six
psycopg2-binary
typing-extensions
scikit-learn
starlette>=0.36.2
setuptools==70.0.0
gevent==23.9
sqlalchemy
uvicorn
html5lib
fastapi==0.109.2
torch==2.2.2
torchvision==0.17.2
fsspec
gcsfs
openpyxl
avro
fastavro
psutil
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-storage
google-cloud-secret-manager
db-dtypes
tensorflow
pyxlsb
pandas-gbq
transformers
safetensors
urllib3==1.26.19
idna==3.7